@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
	header {
		display: flex;
		justify-content: space-between;
		font-size: 21px !important;
		height: 75px;
	}

	header a {
		display: none;
	}

	.mobile-menu {
		display: block;
		color: #ebebeb;
		margin: 27px 5vw;
	}

	.mini-menu {
		display: block;
		padding: 7px 30px 7px 30px;
		font-size: 50px;
		color: #ebebeb;
		background-color: #202529;
	}

	.pic-block{
		display: flex;
		flex-flow: column nowrap;
	}
	
	.arrowPic-box{
		width: 100%;
		padding-top: 40%;
		padding-bottom: 40%; 

	}

	.pic-block-pic{
		width: 100%;
		height: 100%;
	}

	.banner h2{
		font-size: 30px !important;
	}

	.banner{
		padding: 100px 10% 100px 5%;
		font-size: 18px;
	}

	.link-box h2{
		font-size: 18px;
	}

	.info-text h1 {
		font-size: 23pt;
		color: #088ca5;
	}

	.hide-under-640 {
		display: none;
	}
}